.inactive{
    pointer-events: none;
    opacity: 0.4;
}

.active{
    pointer-events: all;
    opacity: 1;
}

.new-driver{
    background-color: red;
    font-weight: bold;
    color: white;
    padding: 8px
}